# --- Sistemas Operacionais ---
.DS_Store
Thumbs.db

### GERAL ###
!.gitignore
!.gitattributes
!README.md
!src
!src/**/*
!pom.xml

# --- Maven ---
HELP.md
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
!**/src/main/**
!**/src/test/**
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/MavenWrapperDownloader.java
.mvn/wrapper/maven-wrapper.properties
.mvnw/*
.mvn/*
mvnw*
*mvnw
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### IntelliJ IDEA ###
#--- JAVA --#
.idea
*.iws
*.iml
*.ipr
*.class
*.log
*.ctxt
.tmp
.settings/
.idea/
